<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel by classes " verbose="1" parallel="classes" thread-count="2">
    <test name = "All test">
        <classes>
            <class name="tests.LoginTest"></class>
            <class name="tests.AdminTest"></class>
        </classes>
    </test>
</suite>